/*@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');*/
@font-face {
  font-family: "Delius";
  src: url("../fonts/Delius/Delius-Regular.ttf");
}

/*-------------------------INITIALIZING THE PAGE----------------------------- */
*,
*::before,
*:after {
  margin: 0;
  padding-top: 2px;
}

/*-------------------------BODY,HTML----------------------------------------- */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Delius, Georgia, serif, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}


/*-------------------------GENERAL VAR--------------------------------------- */
:root {
  /*---------------MAIN COLORS OF THE WEBSITE---------------------------------*/
  --color-primary: #FFFFFF;
  --color-secondary: #E0F1FF;
  --color-white: #FFF;
  --color-black: #000;
  --color-main-1: #C7E5FF;
  --color-main-2: #CBDAFF;
  --color-main-3: #97CFFF;
  --color-main-4: #7AC1FF;
  --color-main-5: #5FB4FF;
  --color-main-6: hsl(240, 50%, 70%);
  /*--------------HEIGHT OF THE MENU HEADER AND TOP OF THE MAIN PAGE----------*/
  --height-main: 170px;
  /*-------------SHADOW REFLECTION ON BOXES IN CENTRAL PAGE-------------------*/
  --shadow-main: 25px;
  /*------------------SIZE OF THE LOGO INTO HEADER----------------------------*/
  --size-logo: 150px;
  /*-----------------------FONT SIZE -----------------------------------------*/
  --font-size-menu: 26px;
  --font-size-main: 18px;
  --font-size-titles: 20px;
  --font-size-copyright: 12px;
  --blur-effect: blur(15px);
}

/*-------------------------HEADER FIXED UP IN THE PAGE----------------------- */
#header {
  background-color: var(--color-primary);
  width: 100%;
  top: 0;
  position: fixed;
  /* header will stay fixed even scrolling*/
  z-index: 100;
  /* all layer under 100 will appears under*/
  height: var(--height-main);
}


/*-------------------------FIXED IMAGES ON  BOTH SIDE OF BODY---------------- */
body::after,
body::before {
  content: '';
  position: fixed;
  height: 500px;
  width: 500px;
  z-index: -1;
  bottom: 0;
}

body::after {
  right: 0;
  bottom: 50px;
  background-image: url('../images/image-right.png');
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right;
}

body::before {
  left: 0;
  background-image: url('../images/image-left.png');
  overflow: hidden;
  background-repeat: no-repeat;
}

/*----------------NAVIGATION BAR INCLUDE LOGO AND MENU FIXED----------------- */
.navigation-bar {
  display: flex;
  align-items: center;
}

.navigation-bar img {
  left: 0;
}

/*------------------------------LOGO----------------------------------------- */
.logo {
  margin-right: auto;
}

.logo img {
  width: var(--size-logo);
  height: auto;
}

/*--------------------------MENU NAVIGATION ITEMS---------------------------- */
.menu {
  list-style-type: none;
  display: inline-flex;
  text-transform: uppercase;
}

/*Menu Items*/
.menu li a {
  text-decoration: none;
  font-size: var(--font-size-menu);
  padding: 8px 22px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  color: var(--color-main-6);
}

.menu li a:hover {
  color: var(--color-main-5);
  filter: blur(.8px);
}

/*Active menu's page*/
.active {
  border-bottom: 3px solid var(--color-main-5);
  filter: blur(.5px);
}

/*--------------------------LOADING PAGE------------------------- */
/*big image with punchlines displayed with animation*/
.main-media {
  background: url('../images/main.png') no-repeat center center;
  height: 900px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

/*punchlines with animation*/
#punchline1,
#punchline2,
#punchline3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  background: transparent;
  color: var(--color-black);
}

#punchline1 {
  font-size: 150%;
  bottom: 650px;
  left: 200px;
  position: absolute;
  animation-name: animation-punchline1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes animation-punchline1 {
  from {
    transform: translateY(-100%);
    filter: blur(10px);
  }

  to {
    transform: translateY(100%);
  }
}

#punchline2 {
  font-size: 200%;
  bottom: 450px;
  left: 150px;
  position: absolute;
  animation-name: animation-punchline2;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}

@keyframes animation-punchline2 {
  from {
    filter: blur(10px);
  }

  to {
    filter: none;
  }
}

#punchline3 {
  font-size: 300%;
  bottom: 300px;
  left: 150px;
  letter-spacing: 10px;
  position: absolute;
  animation-name: animation-punchline3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes animation-punchline3 {
  from {
    transform: translateY(200%);
    filter: blur(10px);
  }

  to {
    transform: translateY(0%);
  }
}

/*----------------------------BOX MAIN MIDDLE PAGE--------------------------- */
.middle-content.first {
  padding-top: calc(var(--height-main) + 30px);
}

.middle-content {
  /*we start above fixed menu and give 15% padding both sides left and right*/
  padding: 5px 15%;
  /*content ON SAME LINE*/
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

/*--------------------LEFT, RIGHT BOX WITH STYLE------------------------------*/
.main-without-style,
.main-with-style {
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 25px;
}

.main-with-style {
  background: var(--color-secondary);
  box-shadow: 0 0 var(--shadow-main) var(--color-black);
  border-radius: 22px;
}

.main-without-style {
  background: transparent;
}

/*----------------------------TITLES OF BOX RIGHT,LEFT AND CENTER------------ */
.title {
  font-weight: 300;
  font-size: var(--font-size-titles);
  padding: 5px 28px;
}

.title-left h1 {
  text-align: left;
  border-bottom: 3px solid var(--color-main-5);
}

.title-right h1 {
  text-align: right;
  border-bottom: 10px dotted var(--color-main-6);
}

.title-center h1 {
  font-size: calc(var(--font-size-titles) + 80%);
  text-align: center;
}

/*-------------------- CONTENTS INTO ANY BOX ------------------------------*/
.content {
  font-weight: 400;
  font-size: var(--font-size-main);
  padding: 4px 4px;
  text-align: center;
}

.content li {
  list-style: none;
  font-size: var(--font-size-main);
  text-align: left;
}

.content ul {
  padding-left: 0;
}

.content ul li:hover {
  color: var(--color-main-6);
}

.content strong {
  color: var(--color-main-6);
  font-size: 18px;
  font-weight: bold;
}

/*--------------------ALL MEDIA CONTENT INTO ANY BOX -------------------------*/
.media img {
  border-radius: 32px;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0px 5px 10px var(--color-black);
}

.media video {
  width: 100%;
}

.media {
  text-align: center;
}

.partners img {
  width: 200px;
  height: 200px;
  padding: 55px 55px;
}

content.partners {
  text-align: center;
}


/*---------------------------FOOTER------------------------------ */
.footer{
  background-color: var(--color-white);
  text-align: center;
}

footer p{
  text-align: center;
  padding-bottom: 10px;
}

footer img{
  width: 30px;
  height: 30px;
  padding: 15px;
}

/*---------------------------INPUTS, P, TEXTAREA AND ASIDE------------------- */
textarea{
  resize: none;
}

input,
textarea{
  font-family: inherit;
}

p{
  text-align: justify;
}

aside{
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}

/*---------------------------PREMIUM OFFERS BOXES---------------------------- */

.premium-box-fixed {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.premium-box-fixed .premium {
  border: 5px solid var(--color-main-6);
  width: 200px;
  text-align: center;
  padding: 20px;
  background-color: var(--color-white);
  border-radius: 22px;
  margin-top: 10px;
  box-shadow: 0px 2px 10px 5px var(--color-black);
}

.premium-box-fixed .premium {
  transform: scale(1.1);
}

.premium-box-fixed .premium .price {
  margin-bottom: 25px;
  text-align: center;
}

.premium-box-fixed .premium .price strong {
  font-size: 40px;
  margin-bottom: -5px;
  text-align: center;
  font-weight: 800;
  color: var(--color-main-6);
}


.premium-box-fixed .premium .features>* {
  color: var(--color-main-black);
  padding: 8px 0;
  border-bottom: 1px solid var(--color-black);
  font-size: 15px;
}

/*last element of the list with no border-bottom*/
.premium-box-fixed .premium .features div:last-child {
  border-bottom: 0;
}

/*title of each offers*/
.title-premium {
  font-size: 28px;
  font-weight: 800;
}

/*-------------------- VERTICAL PRESENTATION TIMELINE STYLE------------------- */
.presentation {
  margin: auto;
  flex-wrap: wrap;
  position: relative;
}

/*----------------------------THE LINE----------------------------------------*/
.presentation::before {
  content: '';
  position: absolute;
  width: 2px;
  /*size of the middle line*/
  height: 100%;
  background-color: var(--color-main-6);
  left: calc(50% - 1px);
}

/*---ELEMENTS ON BOTH SIDE with odd & even-----------*/
/*---ELEMENT 1,3,5 etc on left side------------------*/
/*---ELEMENT 2,4,6 etc on right side-----------------*/
.presentation-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
}

.presentation-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}

.presentation-item {
  padding: 10% 0 0 5%;
}

/*--------A dot on the middle line for each item----------*/
.presentation-point,
.presentation-point-today,
.presentation-point-end {
  height: 16px;
  width: 16px;
  position: absolute;
  background-color: var(--color-main-6);
  left: calc(50% - 8px);
  border-radius: 50%;
}

/*For roadmap, current situation with a special item on the line*/
.presentation-point-today {
  background-color: transparent;
  color: var(--color-main-5);
  left: calc(50% - 22px);
}

/*Last dot on the presentation*/
.presentation-point-end {
  border-radius: 5%;
}

/*-------------------Titles of each box items --------------------------------*/
.presentation-title,
.presentation-title-today {
  text-align: center;
  line-height: 30px;
  font-size: 26px;
}

.presentation-title-today {
  background-color: var(--color-main-5);
  width: 20%;
  padding-top: 10px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  margin: 0 100px;
}

/*-------------------Content of each item of the presentation-----------------*/
.presentation-content,
.presentation-content-today {
  padding: 40px;
  border-radius: 32px;
}

.presentation-content h3,
.presentation-content-today h3 {
  font-size: 28px;
  margin: 0 0 15px;
  text-transform: capitalize;
}

.presentation-content {
  background-color: var(--color-main-1);
}

/*Different coloring for the box to focus on (Todays roadmap)*/
.presentation-content-today {
  background-color: var(--color-main-5);
}

.presentation-image img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/*Images of partners logo*/
.presentation-content img {
  border-radius: 22px;
  width: 200px;
  height: 200px;
}

.presentation-image {
  text-align: center;
  justify-content: space-between;
}



/*--------FORMS---------- */
.form-main {
  padding: 30px 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: transparent;
}

.form-content {
  width: 100%;
  max-width: 550px;
  position: relative;
}

.form-content h3 {
  text-align: center;
  line-height: 1.2;
}

.form-content form,
.form-content .input {
  margin-bottom: 25px;
  text-align: center;
}

/*italic for all the placeholder content*/
::placeholder {
  font-style: italic;
  color: var(--color-black);
  line-height: 1.5;
}

.form-content .input-item {
  display: block;
  height: 45px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-black);
}

.form-content .no-underline {
  border: none;
}

/*On focus we don't display the borders*/
.form-content .input-item:focus {
  outline: none;
}

.box-form a {
  text-decoration: none;
}

.form-content .box-form {
  background: transparent;
  padding: 2px 2px;
  border: 0;
}


/*-------------------BUTTONS WITH STYLE------------------------ */
.button-submit {
  height: 45px;
  width: 100%;
  margin-top: 25px;
  font-size: 16px;
  text-transform: capitalize;
  border-radius: 22px;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: linear-gradient(to right, var(--color-main-5), var(--color-main-6));
}

.button-submit:hover::before {
  background: linear-gradient(to left, var(--color-main-5), var(--color-main-6));
  z-index: -1;
}

.button-submit::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/*-------------CUSTOM CHECKBOX WITH STYLE-------------------------------------*/
.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.input-checkbox-text {
  padding-left: 20px;
}

.input-checkbox-input:checked~.input-checkbox-slider::before {
  transform: translateX(calc(100% + 5px));
}

.input-checkbox-slider {
  height: 30px;
  width: 50px;
  border: 1px solid var(--color-black);
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}

.input-checkbox-slider::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: var(--color-main-6);
}

/*background slider*/
.input-checkbox-input:checked~.input-checkbox-slider {
  background: linear-gradient(to right, var(--color-main-2), var(--color-main-5));
  border: none;
}

/*We make dissapear the normal checkbox */
.input-checkbox-input {
  opacity: 0;
}



/*---------------------------SCREEN ADAPTABILITY----------------------------- */
/*---------------------------1500px SCREEN AND SMALLER----------------------- */

@media only screen and (max-width: 1500px) {
  #punchline1 {
    display: none;
  }

  #punchline3 {
    font-size: 24px;
    top: 500px;
    left: 30px;
    position: absolute;
  }

  #punchline2 {
    font-size: 28px;
    top: 200px;
    left: 0;
    position: absolute;
  }

  /*Premium boxes reducing size*/
  .premium-box-fixed .premium {
    transform: scale(0.9);
  }
}


/*---------------------------1346px SCREEN AND SMALLER-------------- */

@media only screen and (max-width: 1346px) {

  /*Rezise of header*/
  #header {
    height: calc(var(--height-main) - 50px);
  }

  /*-----Images on both side of the page dissapears-----------------*/
  body::after,
  body::before {
    display: none;
  }

  .navigation-bar {
    padding: 10px 50px;
  }

  .logo img {
    width: calc(var(--size-logo) - 70px);
  }

  .middle-content.first {
    /*we start above the fixed menu*/
    padding-top: calc(var(--height-main) + 5px);
  }

  .middle-content {
    padding: 5px 5%;
    /*we display boxes above to each other*/
    flex-direction: column;
    margin: 5px;
  }

  .main-without-style,
  .main-with-style {
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
    box-shadow: none;
  }

  .content p {
    font-size: calc(var(--font-size-main) - 4px);
    padding: 5px 5px;
  }

  .content ul li,
  .presentation-content p {
    font-size: 20px;
  }

  /*----------Presentation timeline style------------- */
  .presentation-item:nth-child(odd) {
    padding-right: 0;
  }

  .presentation-item:nth-child(even) {
    padding-left: 0;
  }

  /*----------------Dots not shows anymore------------*/
  .presentation-point,
  .presentation-point-today,
  .presentation-point-end {
    display: none;
  }

  /*-------The line not shows anymore ---------------------*/
  .presentation::before {
    display: none;
  }

  /*----------------Rezising titles--------------------*/
  .presentation-title,
  .presentation-title-today {
    text-align: center;
    font-size: 20px;
  }

  .presentation-item {
    padding: 20px 0;
    width: 100%;
  }

  /*reducing the images*/
  .presentation-content img {
    border-radius: 22px;
    width: 120px;
    height: 120px;
  }

}

/*---------------------------890px SCREEN AND SMALLER------------------------ */

@media only screen and (max-width: 890px) {
  #header {
    height: calc(var(--height-main) - 25px);
  }

  .navigation-bar {
    flex-direction: column;
  }

  .logo {
    margin-right: 0;
  }

  .middle-content {
    padding-top: calc(var(--height-main) + 15px);
  }



  /*resizing menu items*/
  .menu li a,
  .active {
    font-size: calc(var(--font-size-menu) - 50%);
    padding: 10px;
  }

  /*we display premium offer one above the other*/
  .premium-box-fixed {
    flex-direction: column;

  }

  /*bigger size for boxes when screen smaller*/
  .premium-box-fixed .premium {
    width: 400px;
  }

  /*size of features into premium boxes*/
  .premium-box-fixed .premium .features>* {
    font-size: 24px;
  }


  /*Active menu button resizing*/
  .active {
    font-size: calc(var(--font-size-menu) - 50%);
    border-top: 3px solid var(--color-main-5);
    border-bottom: 0;
    filter: blur(.5px);
  }



}

/*---------------------------760px SCREEN AND SMALLER------------------------ */

@media only screen and (max-width: 760px) {
  #header {
    height: calc(var(--height-main) - 90px);
  }

  .logo {
    display: none;
  }

  /*bigger size for boxes when screen smaller*/
  .premium-box-fixed .premium {
    width: 300px;
  }

  .middle-content.first {
    /*we start above the fixed menu*/
    padding-top: calc(var(--height-main) + 20px);
  }

  .middle-content {
    padding-top: 25px;
  }
}

/*---------------------------720px SCREEN AND SMALLER------------------------ */

@media only screen and (max-width: 720px) {
  #header {
    height: calc(var(--height-main) - 60px);
  }

  .title {
    padding: 3px 3px;
    text-align: center;
  }

  /*big image with punchlines displayed with a smaller image*/
  .main-media {
    background: url('../images/main2.png') no-repeat center center;
    overflow: hidden;
    background-size: cover;
    position: relative;
    opacity: 0.9;
  }

  /*punchlines with animation*/
  #punchline2,
  #punchline3 {
    letter-spacing: 1px;
    padding: 10px 20px;
    background: transparent;
    color: var(--color-black);
  }

  .middle-content.first {
    padding-top: calc(var(--height-main) - 65px);
    padding-left: 30px;
  }
  .main-with-style,
  .main-without-style {
    padding-bottom: 55px;
    box-shadow: none;
  }

  .navigation-bar {
    padding: 1px;
  }

  /*No displaying the slider */
  .input-checkbox-slider {
    display: none
  }

  /*We display normal checkbox instead of slider */
  .input-checkbox-input {
    opacity: 1;
  }

  .presentation-content,
  .presentation-content-today {
    padding: 15px;
  }

  .presentation-title-today {
    font-size: 30px;
    border-radius: 0px;
    background-color: white;
  }

  /*Resizing content*/
  .content ul li,
  .presentation-content p {
    font-size: 14px;
  }

}